@model List<VAGnificent.Models.Models.Disposal>  

@foreach (var disposal in @Model)
{
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-12">
                <div class="card-sl">
                    <div class="card-image">
                        <img
                            src="@disposal.ImageUrl"/>
                    </div>

                    <a class="card-action" href="#">
                        <i class="fa fa-heart"></i>
                    </a>
                    <div class="card-heading">
                        @disposal.Brand.BrandName @disposal.Model
                    </div>
                    <div class="card-text">
                        <p>Country: @disposal.BrandCountry</p>
                        <p>Colour: @disposal.Colour</p>
                        <p>Weight: @disposal.Weight kg</p>
                        <p>Horse power: @disposal.HorsePower</p>
                        <p>Accidents: @disposal.Accidents</p>
                    </div>
                    <div class="card-text">
                        $@disposal.DollarsPrice
                    </div>
                    <a asp-route-id="@disposal.Id" asp-action="ShowCase" class="card-button"> Purchase</a>
                </div>
            </div>
        </div>
    </div>
}