@model VAGnificent.Models.Models.Disposal

<div class="card shadow border-0 mt-4">
    <div class="car-photo mt-4">
        <img src="@Model.ImageUrl" alt="Car Photo" width="70%" height="70%" class="rounded-3">
        <h1>@Model.Brand.BrandName</h1>
    </div>
    <div class="details-container px-5">
        <div class="details">
            <h2>Car Details</h2>
            <ul style="list-style: none">
                <li>Model: @Model.Model</li>
                <li>Year: @Model.Year.Year</li>
                <li>Colour: @Model.Colour</li>
                <li>Price: @Model.DollarsPrice$</li>
            </ul>
        </div>
        <div class="technical-details">
            <h2>Technical Details</h2>
            <ul style="list-style: none">
                <li>Horsepower: @Model.HorsePower</li>
                <li>Weight: @Model.Weight</li>
                <li>Engine capacity: @Model.EngineCapacity</li>
                <li>Fuel type: @Model.FuelType</li>
                <li>Transmition type: @Model.TransmisionType</li>
                <li>Travelled distance: @Model.TravelledDistance</li>
            </ul>
        </div>
    </div>
    <div class="purchase-button mb-4 px-2">
        <a type="button" class="btn btn-primary form-control">Purchase</a>
    </div>
    <div class="purchase-button mb-4 px-2">
        <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-secondary form-control">Go Back</a>
    </div>
</div>